body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  font-weight: bold;
  background: pink;
  border: 3px solid blue;
  padding: 32px;
  margin: 12px;
}

.two {
  font-weight: bold;
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 48px;
}

.three {
  font-weight: bold;
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  padding: 32px;
  margin-left: auto;
}